# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Node / React
# =========================
node_modules/
dist/
dist-ssr/
*.local
.env
frontend/.env

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war

# =========================
# IDE Files
# =========================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Build Files
# =========================
coverage/
build/